*, ::after, ::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15; }

main {
  display: block; }

h1 {
  margin: .67em 0;
  font-size: 2em; }

a {
  background-color: transparent; }

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

code, kbd, pre, samp {
  font-size: 1em;
  font-family: monospace, monospace; }

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

button, input, optgroup, select, textarea {
  line-height: inherit;
  border: 1px solid currentColor; }

button {
  overflow: visible;
  text-transform: none; }

[type="button"], [type="reset"], [type="submit"], button {
  padding: 1px 6px;
  -webkit-appearance: button; }

input {
  overflow: visible; }

input, textarea {
  padding: 1px; }

fieldset {
  margin: 0 2px;
  border: 1px solid currentColor; }

legend {
  display: table;
  max-width: 100%;
  color: inherit;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

select {
  text-transform: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield; }

[type="color"] {
  background: inherit; }

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5; }

::-webkit-file-upload-button, ::-webkit-search-decoration {
  font: inherit;
  -webkit-appearance: button; }

::-moz-focus-inner {
  border: 0; }

:-moz-focusring {
  outline: 1px dotted ButtonText; }

:-moz-ui-invalid {
  box-shadow: none; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  color: inherit; }

dl, ol, ul {
  margin: 1em 0; }

dl dl, dl ol, dl ul, ol dl, ol ol, ol ul, ul dl, ul ol, ul ul {
  margin: 0; }

b, strong {
  font-weight: bolder; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

table {
  text-indent: 0;
  border-color: inherit; }

details {
  display: block; }

dialog {
  position: absolute;
  right: 0;
  left: 0;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  padding: 1em;
  color: inherit;
  background-color: inherit;
  border: solid; }

dialog:not([open]) {
  display: none; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

@font-face {
  font-weight: 700;
  font-family: "Roboto Condensed";
  font-display: swap;
  font-style: italic;
  src: url("../fonts/RobotoCondensed-BoldItalic.woff2") format("woff2"), url("../fonts/RobotoCondensed-BoldItalic.woff") format("woff"); }
@font-face {
  font-weight: 700;
  font-family: "Roboto Condensed";
  font-display: swap;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff"); }
@font-face {
  font-weight: 300;
  font-family: "Roboto Condensed";
  font-display: swap;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2"), url("../fonts/RobotoCondensed-Light.woff") format("woff"); }
@font-face {
  font-weight: 300;
  font-family: "Roboto Condensed";
  font-display: swap;
  font-style: italic;
  src: url("../fonts/RobotoCondensed-LightItalic.woff2") format("woff2"), url("../fonts/RobotoCondensed-LightItalic.woff") format("woff"); }
@font-face {
  font-weight: 400;
  font-family: "Roboto Condensed";
  font-display: swap;
  font-style: italic;
  src: url("../fonts/RobotoCondensed-Italic.woff2") format("woff2"), url("../fonts/RobotoCondensed-Italic.woff") format("woff"); }
@font-face {
  font-weight: 400;
  font-family: "Roboto Condensed";
  font-display: swap;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff"); }
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: calc(50% - 600px);
  padding-left: calc(50% - 600px); }

.title {
  font-family: 'Roboto Condensed', sans-serif; }

.burger {
  width: 30px;
  height: 30px;
  cursor: pointer; }

/*# sourceMappingURL=style.css.map */
